
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container {
    width: 100%;
    height: auto;
    padding: 50px;
    background-color: #C8CDD0;
    display: grid;
    gap: 25px;
    grid-template-rows: 140px 230px 400px;
    grid-template-columns: 150px 550px 560px;
}
.past {
    border-radius: 50px;
    border: none
}
.past:first-child {
    border-radius: 50%;
    grid-column: 1/2;
    grid-row: 1/2;
    background-image: url(./patel1.png);
    background-position: center;
    position: relative;
    right: 40px;
}
.past:first-child h1 i{
    font-size: 20px;
    color: black;
}
.past:nth-child(2) {
    width: 570px;
    position: relative;
    right: 20px;
    grid-row: 1/2;
    grid-column: 2/3;
    background-color: #E1FF01;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding-inline: 60px;
    row-gap: 10px;
    position: relative;
    right: 50px;
}
.past:nth-child(2) p {
    color: gray;
    font-size: 20px;
}
.past:nth-child(3) {
    grid-row: 1/3;
    grid-column: 3/4;
    background-color: white;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    position: relative;
    right: 40px;
}
.past:nth-child(3) i {
    font-size: 40px;
}
.past:nth-child(3) p {
    padding-left: 60px;
    font-size: 20px;
    color: gray;
}
.past:nth-child(4) {
    grid-row: 2/4;
    grid-column: 1/3;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 35px;
    position: relative;
    right: 30px;
}
.past:nth-child(4) p {
    color: gray;
    font-size: 20px;
    padding-bottom: 10px;
}
.list {
    margin-bottom: 45px;
    border-radius: 40px;
    background-color: #F3F5F6;
    padding-left: 25px;
}
.box:nth-child(5) {
    grid-row: 3/4;
    grid: 3/4;
    background-color:#E5E7E9;
    display: grid;
    grid-template-rows: 240px 100px;
    grid-template-columns: 220px 220px;
    gap: 20px;
    padding: 15px;
    position: relative;
    right: 40px;
    margin-right: 50px;
}
.present:first-child{
    background-color: #97B9FF;
    border-radius: 45px;
    padding: 25px;
    
}
.present:first-child h5{
    font-size: 22px;
    padding-top: 80px;
}
.present:first-child p{
    font-size: 22px;
    color: gray;
}
.img1{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
    background-image: url(./add.png);
    background-position: center;
    background-repeat: no-repeat;
}
.img2{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color:yellow;
    background-image: url(./moon.png);
    background-position: center;
    background-repeat: no-repeat;
}
.present:nth-child(2){
    border-radius: 45px;
    background-color: #FFFFFF;
    padding: 25px;
}
.present:nth-child(2) h5{
    font-size: 22px;
    padding-top: 60px;
}
.present:nth-child(2) p{
    border-radius: 45px;
    background-color: #FFFFFF;
    color: gray;
    font-size: 22px;
}
.present:nth-child(3){
    border-radius: 45px;
    background-color: #FFFFFF;
    grid-column: 1/3;
    grid-row: 2/3;
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding-inline: 20px;
}
button{
    width: 90px;
    height: 35px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
}
.img3{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #C8CDD0;
    background-image: url(./plus.png);
    background-position: center;
}
@media(max-width:768px){
    .main-container{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .past{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
.past:first-child{
    width: 150px;
    height: 150px;
}


}